.row{
    max-width: $row-width;
    margin: 0 auto;
    display: flex;
    &:not(:last-child){
        margin-bottom:$gutter-vertical ;
    }
    [class^="col-"] {
        // float: left;
        // background-color: rosybrown;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal})/2);
    }
    .col-1-of-3{
        // width: 20rem;
        width: calc((100% - (#{$gutter-horizontal}*3))/3);
    }
}

